<div class='cat'>
  <div class='cat-photo'>
    <img src="{{image}}" alt="{{title}}">
  </div>
  <h2 class='cat-title'> {{title}} </h2>
  <div class='element'>
    <h3 class='timeline-element-title'> Color: </h2>
    <h3 class='timeline-element-text'> {{color}} </h3>
  </div>
  <div class='element'>
    <h3 class='timeline-element-title'> Friendliness: </h2>
    <h3 class='timeline-element-text'> {{kindness}} </h3>
  </div>
  <div class='element'>
    <h3 class='timeline-element-title'> Near: </h2>
    <h3 class='timeline-element-text'> {{address}} </h3>
  </div>
</div>
