<div class='cat'>
  <div class='cat-photo'>
    <img src="{{url}}" alt="{{color}}Cat">
  </div>
  <h2 class='cat-title'> {{color}} cat </h2>
  <div class='element'>
    <h3 class='timeline-element-title'> Energy: </h2>
    <h3 class='timeline-element-text'> {{energy}} </h3>
  </div>
  <div class='element'>
    <h3 class='timeline-element-title'> Sociability: </h2>
    <h3 class='timeline-element-text'> {{sociability}} </h3>
  </div>
  <div class='element'>
    <h3 class='timeline-element-title'> Near: </h2>
    <h3 class='timeline-element-text'> {{address}} </h3>
  </div>
</div>
